# PostgreSQL
POSTGRES_URL=postgresql://user:password@localhost:5432/pokemon_db

# MongoDB
MONGODB_URL=mongodb://localhost:27017/
MONGODB_DB=pokemon_db

# BigQuery
GOOGLE_CLOUD_PROJECT=your-project-id
BIGQUERY_DATASET=your-dataset-name
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/credentials.json

# Flask Environment
FLASK_ENV=development
FLASK_DEBUG=1 